.App {
  text-align: center;
}
.App-text{
  position:fixed;
  bottom:0;
  right:1%;
  color:black;
}
.App-logo {
  position: fixed;
  bottom:5%;
  right:1%;
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
h1{
  text-align: center;
}
.loginBox{
  text-align: center;
}
.DisplayUser{
  position: fixed;
  top:0;
  right:1%;
}
.LogoutButton{
  position: fixed;
  top:7%;
  right: 1%;
}